beautifulsoup4==4.13.4
Brotli==1.1.0
certifi==2025.7.9
charset-normalizer==3.4.2
FlightRadarAPI==1.4.0
idna==3.10
requests==2.32.4
RPi.GPIO==0.7.1
soupsieve==2.7
typing_extensions==4.14.1
urllib3==2.5.0